
.manage-users {
  .btn {
    color: white;
    margin: 1em 0;
    border-radius: 5px !important;
  }
  .btn-arh {
    background: #e06c6b;
  }

  .btn-edit {
    background: $primary;
  }

  .the-card {
    @media(min-width: 992px) {
      flex: 0 0 55%;
      max-width: 55%;
    }

    @media(min-width: 1400px) {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
    }

    .form-control {
      border-radius: 5px !important;
    }

    position: relative;
    .user-status {
      position: absolute;
      font-size: 10px;
      padding: .8em;
      top: -14px;
      right: 27px;
      background: $primary;
      color: white;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
  }

  .select-user {
    width: 60%;
  }
}

