
.manage-users {
  .update-wrapper {
    flex-direction: row;
    @media(max-width: 767px) {
       flex-direction: column-reverse;
    }

    .user-select-wrapper {
      .select-user {
        margin-bottom: 2em;
        width:100%;
      }

      @media(max-width: 767px) {
        display: flex;
        justify-content: center;
      }
    }
  }

  .btn {
    color: white;
    margin: 1em 0;
    border-radius: 5px !important;
  }
  .btn-arh {
    background: $danger;
  }

  .btn-edit {
    background: $primary;
  }

  .the-card {
    //@media(min-width: 992px) {
    //  flex: 0 0 55%;
    //  max-width: 55%;
    //}
    //
    //@media(min-width: 1400px) {
    //  flex: 0 0 33.3333%;
    //  max-width: 33.3333%;
    //}

    .form-control {
      border-radius: 5px !important;
    }

    position: relative;
    .user-status {
      position: absolute;
      font-size: 10px;
      padding: .8em;
      top: -14px;
      right: 27px;
      background: $primary;
      color: white;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
    }
  }
} // manage users --- end

.company-tasks {
  .btn {
    width: 40% !important;
  }

  //.col-rewrite {
  //  @media(min-width: 1700px) {
  //    flex: 0 0 25%;
  //    max-width: 25%;
  //  }
  //}

  .card {
    border-radius: 22px !important;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);

    .fas, .far, .icon-tally:before {
      color: $primary;
    }

    .border-r-light {
      border-right: 1px solid #e5e5e5;
      padding-right: 1em;
      margin-right: 1em;
      min-width: 6rem;
    }

    .list-group {
      list-style-type: none;
    }

    .card-header {
      padding: 2em;
      background-image: url('../images/black_pattern.png');
      -webkit-background-size: cover;
      background-size: cover;
      background-repeat: repeat;
    }

    .text-light {
      font-size: 20px;
    }

    .icon-tally {
      font-size: 20px;
    }
  }

  .card-header:first-child {
    border-radius: unset !important;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
  }

  .card > .list-group:last-child .list-group-item:last-child {
     border-radius: unset !important;
     border-bottom-right-radius: 20px !important;
     border-bottom-left-radius: 20px !important;
  }

  list-group-item {
    border-radius: unset !important;
    padding: 2em !important;
  }

  .list-group-flush:last-child .list-group-item {
    -webkit-border-radius: unset !important;
    -moz-border-radius: unset !important;
    border-radius: unset !important;
    border-right: unset !important;
    border-left: unset !important;
  }
}

